{% extends "base.html" %}
{% block body %}
                <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link active" href="/dashboard"> WealthHub</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/stock">Stocks</a>
                    </li>
                  </ul>
                </nav>

    <h3>Stock - Detail</h3>

  <div class="row"> 
<!--    <div class="col-lg-2 bg-dark"></div>-->
    <div class="col-xs-8 col-sm-12">
    	<div class="row pb-4">
    		<div class="col-3">
            	<label for="symbol">Symbol:</label>
  				<input type="text" class="form-control" id="symbol" name="symbol" value="{{ symbol }}" readonly>
            </div>
            <div class="col-9">
            	<label for="symbol">Name:</label>
  				<input type="text" class="form-control label-info" id="name" name="name" value="{{ name }}" readonly>            
            </div>

<!--            <div class="col-3">
            	<label for="symbol">Exchange:</label>
  				<input type="text" class="form-control" id="exchange" name="exchange" value="">
            </div>-->
    	</div>
    	<div class="row pb-4">            
            <div class="col-3">
            	<label for="symbol">Type:</label>
  				<input type="text" class="form-control" id="type" name="type" value="{{ type }}" readonly>
            </div>

    		<div class="col-4">
            	<label for="symbol">Shares:</label>
  				<input type="text" class="form-control" id="shares" name="shares" value="{{ shares }}" readonly>
            </div>
            <div class="col-5">
            	<label for="symbol">Purchase&nbsp;Price:</label>
  				<input type="text" class="form-control" id="purchase_price" name="purchase_price" value="${{ purchase_price|number_format(2, '.', ',') }}" readonly>
            </div>
    	</div>    
        
    	<div class="row pb-4">            
            <div class="col-3">
            	<label for="symbol">Last&nbsp;Price:</label>
  				<input type="text" class="form-control" id="type" name="last_price" value="${{ last_price|number_format(2, '.', ',') }}" readonly>
            </div>

    		<div class="col-4">
            	<label for="symbol">Gain:</label>
  				<input type="text" class="form-control" id="gain" name="gain" value="${{ gain|number_format(2, '.', ',') }}" readonly>
            </div>
            <div class="col-5">
            	<label for="symbol">Gain&nbsp;%:</label>
  				<input type="text" class="form-control" id="gain_percent" name="gain_percent" value="{{ gain_percent }}" readonly>
            </div>
    	</div>    
                
    	<div class="row pb-4">            
            <div class="col-6">
            	<label for="symbol">Value:</label>
  				<input type="text" class="form-control" id="type" name="value" value="${{ value|number_format(2, '.', ',') }}" readonly>
            </div>
    	</div>           
         
    	<div class="row  pb-4">
            <div class="col-md-12">
            	  <label for="comment">Comments:</label>
  				  <textarea class="form-control" rows="2" name="comment" id="comment" readonly>{{ comments }}</textarea>
            </div>
        </div>    
      
    </div>
<!--    <div class="col-lg-2 bg-dark"></div>-->
  </div>
    
    
    	             
    </div>
    <div class="col-sm-4 bg-dark"></div>
  </div>

</div>
    
    <script type="text/javascript">

	$(function() {

		$("#symbolsearch")
			.focus()
			.autocomplete({
				source: function(request,response) {
					$.ajax({
						beforeSend: function(){ 
							$("span.help-inline").show();
							$("span.label-info").empty().hide();
						},
						url: "http://dev.markitondemand.com/api/v2/Lookup/jsonp",
						dataType: "jsonp",
						data: {
							input: request.term
						},
						success: function(data) {
							response( $.map(data, function(item) {
								return {
									label: item.Name + " (" +item.Exchange+ ")",
									value: item.Symbol
								}
							}));
							$("span.help-inline").hide();
						}
					});
				},
				minLength: 0,
				select: function( event, ui ) {
					//console.log(ui.item);
					$("input.label-info").val("" + ui.item.label).fadeIn("fast");
				},
				open: function() {
					//$(this).removeClass("ui-corner-all").addClass("ui-corner-top");
				},
				close: function() {
					//$(this).removeClass("ui-corner-top").addClass("ui-corner-all");
				}
			})
		;
	});

</script>
</div>  
{% endblock %}